// COLORS
$accentBorderColor: #009991;
$accentBgColor: #38cec5;

// FONT COLORS
$textActiveColor: #ec1c57;
$titleTextColor: #38a6a0;
$dateTextColor: #000000ba;
$otherTextColor: #b8b8b8;

// SIZE
$cellSize: 45px;
$indentSize: 20px;
